body {
  margin: 0;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 5vh;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: #000;
  text-decoration: none;
}
.box h1 {
  vertical-align: middle;
  display: inline;
}

.center {
  text-align: center;
}

.full-button h1 {
  display: inline;
  vertical-align: middle;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.song .title {
  text-align: center;
}

.frame{font-family: 'Heebo'}
.frame h1 {
  font-size: 5vh;
}
.frame h2 {
  font-size: 4vh;
}
.frame h3 {
  font-size: 3vh;
}
.frame p, a {
  font-size: 2vh;
}

.slide {
  height: 100vh;
  width: 100%;
}

.slide h1 {
  font-size: 8vh;
}

.slide h2 {
  font-size: 4vh;
}

.reading h3 {
  font-size: 5vh;
  margin: 0 5px;
}

.reading p {
  font-size: 6vh;
  font-family: 'Heebo';
  font-weight: 500;
  margin: 0 5px;
}

.present {
  background-color: #000;
  color: #fff;
}
