body {
  margin: 0;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 5vh;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: #000;
  text-decoration: none;
}
.box h1 {
  vertical-align: middle;
  display: inline;
}

.center {
  text-align: center;
}

.full-button h1 {
  display: inline;
  vertical-align: middle;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;

}

.plain{
  color: #fff;

}

.song .title {
  text-align: center;
  margin-bottom: 25px;
}

#readingtitle {
  color: #fff;

}

.frame{font-family: 'Heebo'}
.frame h1 {
  font-size: 5vh;
}
.frame h2 {
  font-size: 4vh;
}
.frame h3 {
  font-size: 3vh;
}
.frame p, a {
  font-size: 2vh;
}

.slide {
  height: 100vh;
  width: 100%;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.song {
  /* color: #ccc; */
  color: #fff;
}

/* .slide h1 {
  font-size: 7vh;
}

.slide h2 {
  font-size: 4vh;
} */


.present {
  background-color: #000;
  /* color: #fff; */
}

.activeText {
  /* font-weight: 900; */
  color: #fff;
  transition: 0.3s;
}


.invis {
  display: none;
}

.plainevent{
  transition: 0.75s;
}

.oldevent {
  color: #00edff;
  transition: 0.75s;
}

/* html {overflow: -moz-scrollbars-none;} */